.menu
  %ul
    %li
      =link_to '5902 Deerhorn Dr, Sechelt, BC V0N 3A4', '/directions'
    %li
      (778) 230-1116
    %li
      %a
        =mail_to "casaserena@dccnet.com", "Email", :subject => "Casa Serena Reservations"
