.menu
  %ul
    %li
      =link_to 'Home', '/'
    %li
      =link_to 'Suite', '/suite'
    %li
      =link_to 'Gallery', '/gallery'
    %li
      =link_to 'Location', '/location'
    %li
      =link_to 'Rates', '/rates'
    %li
      =link_to 'Workshops', '/workshops'
    %li
      =link_to 'Contact', '/contact'
    %li
      %a
        <a id="book_now" class="no_linebreak" href="mailto:casaserena@dccnet.com?subject=Casa%20Serena%20Reservations">Book Now!</a>
  .centred#banner
    = image_tag "banner.jpg"
