#main_frame
  = render "partials/menu"
  #two_column_wrapper
    %h1.centred
      Directions to Casa Serena
      %br
      %br
      %iframe{:frameborder => "0", :height => "480", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=5902+Deerhorn+Drive,+Sechelt,+BC&aq=&sll=37.0625,-95.677068&sspn=47.080837,69.960938&ie=UTF8&hq=&hnear=5902+Deerhorn+Dr,+Sechelt,+British+Columbia+V0N+3A4,+Canada&ll=49.523425,-123.769226&spn=0.855799,1.757813&z=9&iwloc=A&output=embed", :width => "640"}
    %br
    %h2
      From the Horseshoe Bay Ferry Terminal (Vancouver area):
    %p.copy_text
      From Horseshoe Bay, take the Ferry to Langdale.  Upon arrival at Langdale terminal follow signs to Highway 101 toward Sechelt, approximately 27 km to the northwest.
    %p.copy_text
      Once in Sechelt, go past St Mary’s Hospital on your right and at the 3rd (and last) traffic light, turn right on to Wharf Road.  You can be looking for signs to Porpoise Bay Provincial Park.
    %p.copy_text
      After about ½ km, turn right at the four-way stop sign onto Porpoise Bay Road.  You will see a sign for the Provincial Park at this corner and you can follow it.
    %p.copy_text
      Follow Porpoise Bay Road for 6.1 km (3.8 miles)—it will change names at one point and become Sechelt Inlet Road. You will continue to climb (very gently) in altitude, as you reach Porpoise Bay Provincial Park. Go beyond the Park and about 3 km past the park you will start climbing a slightly steeper hill.  
    %p.copy_text
      You will come to a sign that says “Hidden Grove Trail” on your right. 100 meters past this sign on your left, you will see Sandy Hook Road and the sign for the Sandy Hook neighborhood. Turn left and travel another ½ km down the hill to your first left—Deerhorn Drive. Make a left up the hill and drive another ½ km to Casa Serena.  We are on the right side of the street, at 5902 Deerhorn Drive – a west coast contemporary cedar home with the only flat driveway on the street.
    %br
    %br
    %h2
      From Powell River (Upper Sunshine Coast):
    %p.copy_text
      At Saltery Bay, take the Ferry to Earl’s Cove.  As you exit the ferry, take the Sunshine Coast Highway (Highway 101) to Sechelt (about 50 KM).  Continue following signs to Gibsons and Ferry, until you arrive at the first traffic light in the town of Sechelt.  Stay in the left lane and continue straight through the traffic light, following signs to Porpoise Bay Provincial Park.  This is Wharf Road.  
    %p.copy_text
      After about ½ km, turn right at the four-way stop sign onto Porpoise Bay Road.  You will see a sign for the Provincial Park at this corner and you can follow it.
    %p.copy_text
      Follow Porpoise Bay Road for 6.1 km (3.8 miles)—it will change names at one point and become Sechelt Inlet Road. You will continue to climb (very gently) in altitude, as you reach Porpoise Bay Provincial Park. Go beyond the Park and about 3 km past the park you will start climbing a slightly steeper hill.  
    %p.copy_text
      You will come to a sign that says “Hidden Grove Trail” on your right. 100 meters past this sign on your left, you will see Sandy Hook Road and the sign for the Sandy Hook neighborhood. Turn left and travel another ½ km down the hill to your first left—Deerhorn Drive. Make a left up the hill and drive another ½ km to Casa Serena.  We are on the right side of the street, at 5902 Deerhorn Drive – a west coast contemporary cedar home with the only flat driveway on the street.
    %br
    %br
  #bottom_of_main_frame
    = render "partials/foot"
