#main_frame
  = render "partials/menu_workshops"
  %h1.centred
    Workshops
  .inline_menu.centred
    %ul
      %li
        <a href="mailto:languageatheart@sunshinecoastescape.ca?subject=Language%20at%20Heart%20Inquiry">Inquire about Workshops and Rates</a>
  %h2.double_indent
    Who we are
  %p.copy_text.double_indent
    Owned and operated by Luce Mélançon, a French immersion specialist and artist, Language at Heart offers innovative workshops for students wishing to combine art, language and personal expression.  Luce’s career spans over 30 years teaching the French language at all levels.  She currently teaches at Quest University in Squamish, BC.
  %h2.double_indent
    Why come
  %p.copy_text.double_indent
    Many participants come to the programme to prepare for a trip abroad or to interact with international clients.   Our programme offers beginners an opportunity to become more confident tourists and more advanced students deepen their understanding of the language and culture.	
  %h2.double_indent
    What we offer
  .offer_list.double_indent
    %p.copy_text.double_indent
      %ul
        %li
          French Weekend Immersion on the stunning Sunshine Coast with breathtaking views of the ocean
        %li
          Well-appointed suite on site or at nearby B and Bs
        %li
          Varied levels of individualized or small group instruction 
        %li
          Experienced instructors using contemporary and innovative approaches
        %li
          Hands-on workshops practicing the French language through printmaking, photo transfer, painting on glass, floorcloth painting, mixed media, and cooking classes. (These art workshops are also available in English to guests at the Tree House Suite who wish to bring creativity to their vacation weekend!).
  %p.copy_text.testimonial.double_indent
    I think you have a great way of putting everyone at ease.  It’s amazing, actually.  You’re very straightforward and honest and the class responds really well to that.  I can’t think of any ways to improve the classes — I never look at my watch and I always enjoy the sessions.
    %br
      — Jessica Adams
    %br
#bottom_of_main_frame
= render "partials/foot"
